<!DOCTYPE html>
<html lang="en">
<head>
  @@include('./common/meta.html')
  @@include('./common/style.html')
  <link rel="stylesheet" href="css/goodsList.css">
    <title>列表页面</title>
</head>
<body>
  <div class="page-group">
    <div class="page page-current">
      <!-- 你的html代码 -->
      @@include('./common/menubar.html',{
      "category" : "active"
    })
     @@include('./common/topbar.html')

     <div class="content native-scroll" id="category_page">
       <div class="buttons-tab">
          <a href="#tab1" class="tab-link active button">综合</a>
          <a href="#tab2" class="tab-link button">销量</a>
          <a href="#tab3" class="tab-link button">促销</a>
      </div>
  <div class="content pull-to-refresh-content" id="content">
        <!-- 默认的下拉刷新层 -->
        <div class="pull-to-refresh-layer">
          <div class="preloader"></div>
          <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="list-block media-list" id="listInfo">
        </div>
        <!-- 加载提示符 -->
        <div class="infinite-scroll-preloader">
          <div class="preloader"></div>
        </div>
      </div>
    </div>


      
     </div>
    </div>
  </div>
  @@include('./common/script.html')
  <script src="js/goodsList.js"></script>

  <script type="text/template" id="listTpl">
     <ul>
        {{each $data.goods}}
          <li>
            <a href="/goods-detail.html?goods_id={{$value.goods_id}}" class="item-link item-content card-container">
              <div class="item-media"><img src="{{$value.goods_small_logo}}" style='width: 4rem;'></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">{{$value.goods_name}}</div>
                  <div class="item-after">${{$value.goods_price}}</div>
                </div>
              </div>
            </a>
          </li>
        {{/each}}
      </ul>
  </script>
  
</body>
</html>