<!DOCTYPE html>
<html lang="en">
<head>
  @@include('./common/meta.html')
  @@include('./common/style.html')
</head>
<body>
  <div class="page-group">
    <div class="page page-current">
      <!-- 你的html代码 -->
      @@include('./common/menubar.html',{
      "current" : "active"
    })
     @@include('./common/topbar.html')
      <div class="content native-scroll" id="content">
        <!-- 轮播图模块 -->
        <div class="swiper-container">
            <div class="swiper-wrapper"></div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="content-padded menu" id="menuInfo"><!-- 分类模板 -->  </div>
        <!-- 菜单模块 -->
         <div id="listInfo"><!-- 内容列表模板 --> </div>
      </div>  
    </div> 
  </div>
  @@include('./common/script.html')
  <script type="text/template" id="swiperTpl">
    <!--  动态生成轮播图模块  使用模板 -->

    {{each list}}     
          <div class="swiper-slide"><img src="{{$value.image_url}}"></div>     
    {{/each}}
  </script>
  <script type="text/template" id="categoriesTpl">
    <div class="row">
      <!--  因为总共 是10条数据 要求为 2行 5列 需要判断 5个的时候换行 -->
      {{each list}}    
      <div class="col-20">
            <a href="{{$value.href}}">
              <div>
                <img src="{{$value.img}}">
              </div>
              <div>{{$value.name}}</div>
            </a>
          </div>
          {{if ($index +1) % 5 == 0}}
          </div>
          <div class="row">
          {{/if}}
      {{/each}}
      </div>
  </script>
  <script type="text/template" id="menuTpl"> 
   {{each $data}}
      <!-- 内容列表模板 -->
      <div class="content-padded list-title">
        <img src="{{$value.group_img}}">
      </div>
      <div class="content-padded list-item">
        <div class="row">
          {{each $value.goods item}}
            <div class="col-50">
              <div class="pic">
                <img src="{{item.goods_big_logo}}">
              </div>
              <div class="name">{{item.goods_name}}</div>
              <div class="price">
                <span>¥ {{item.goods_price}}</span>
                <a href="/goods-list.html?cid={{item.cat_id}}" class="button external">找相似</a>
              </div>
            </div>
            {{if ($index + 1) % 2 == 0}}
              </div>
              <div class="row">
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/each}}

  </script>
  
  

</body>
</html>